@import url(https://fonts.googleapis.com/css?family=Montserrat);


svg {
    display: block;
    font: 10.5em 'Montserrat';
    width: 900px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill:none;
    stroke: white;
    stroke-dasharray: 200px;
    stroke-width: 8px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke:beige;
	animation-delay: -3;
}

.text-copy:nth-child(2){
	stroke :#F8CD35;
	animation-delay: -3s;
}


@keyframes stroke-offset{
	100% {stroke-dashoffset: -30%;}
}




#portfolio .portfolio-item .img-fluid{
    transition:all .9s ease;

}

#portfolio .portfolio-item .img-fluid:hover{
    transform: scale(1.1);
    
}




